.feedback-modal {
  display: none;
}

.feedback-visible {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.5);
  height: 7.5rem;
  width: 28rem;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2.5%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: .3s;
}

.feedback-visible::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  height: .5rem;
  animation: countdown 5s linear;
}

.feeback-success::before {
  background: #00E663;
}

.feedback-error::before {
  background: #EB3E3E;
}

@keyframes countdown {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.feedback-visible .feedback-texts > h2 {
  font-size: 1.3rem;
  font-weight: bold;
}

.feeback-success .feedback-texts > h2 {
  color: #00E663;
}

.feedback-error .feedback-texts > h2 {
  color: #EB3E3E;
}

.feedback-visible .feedback-texts > p {
  font-size: .8rem;
  font-weight: bold;
}

.feeback-success .feedback-texts > p {
  color: #0BA74E;
}

.feedback-error .feedback-texts > p {
  color: #c02e2e;
}

.feedback-message {
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  gap: 2rem;
  width: 95%;
}

.feedback-texts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .1rem;
  text-align: center;
}

.feedback-image{
  height: 3rem;
}

@-webkit-keyframes slideIn {
  from {top: -300px; opacity: 0} 
  to {top: 10px; opacity: 1}
}

@keyframes slideIn {
  from {top: -300px; opacity: 0}
  to {top: 10px; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@media screen and (max-width: 620px) {
  .feedback-visible {
    width: 80%;
  }

  .feedback-visible .feedback-texts > h2 {
    font-size: 1rem;
  }
}