.team-modal-closed {
  display: none;
}

.team-modal-open {
  width: 600px;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-self: center;
  position: fixed;
  overflow-y: auto;
  top: 5%;
  z-index: 3;
  border-radius: .5rem;
  background-color: #FAFAFA;
  box-shadow: 0px 0px 15px #000;
  color: #000;
}

.team-modal-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: end;
  height: 2rem;
  padding: .5rem;
}

.team-modal-header > span {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: #000; 
}

.team-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  overflow-y: scroll;
}

.team-modal-content::-webkit-scrollbar{
  width: 5px;
  border-radius: .5rem;
}

.team-modal-content::-webkit-scrollbar-thumb{
  background-color: #c4c4c4;
  border-radius: .5rem;
}

.team-modal-content > h2 {
  align-self: baseline;
  font-weight: 500;
  font-size: 1.1rem;
}

.team-forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.team-infos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}

.team-inputs {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5rem;
}

.team-inputs > input {
  padding: .3rem;
  border-radius: .5rem;
  background-color: transparent;
  border: 2px solid #DCDFE5;
  color: #000;
}

.team-inputs > input:focus {
  outline: none;
}

.members-list {
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  /* justify-content: center; */
  gap: .2rem;
  width: 100%;
  height: 6.5rem;
  overflow-y: scroll;
  border: 2px solid #DCDFE5;
  border-radius: .5rem;
  padding: .25rem;
}

.members-list::-webkit-scrollbar{
  width: 5px;
  border-radius: .5rem;
}

.members-list::-webkit-scrollbar-thumb{
  background-color: #c4c4c4;
  border-radius: .5rem;
}

@media screen and (max-width: 625px) {
  .team-modal-open {
    width: 90%;
  }
}