.team-card{
  width: 22rem;
  height: 11.31rem;
  border-radius: .3rem;
  box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, .5);
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: #22222A;
}

.team-card-infos{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90%;
  gap: .5rem;
}

.team-card-previous {
  height: 114px;
  width: 114px;
  border-radius: .2rem;
  background-color: #2D3A4D;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.7rem;
}

.team-card-previous > h2 {
  filter: drop-shadow(0px 5px 1px rgba(0, 0, 0, .8));
  color: #fff;
}

.team-card-titles {
  width: 55%;
  font-weight: bold;
  font-size: 1.3rem;
  white-space: wrap;
}

.team-dots {
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  width: 2rem;
  height: 2rem;
  align-items: center;
  border-radius: 5rem;
  justify-content: space-evenly;
  cursor: pointer;
  transition: .35s;
  &:hover {
    background-color: rgba(213, 220, 231, 0.5);
  }
}

.team-dots > div {
  height: .25rem;
  width: .25rem;
  border-radius: 1rem;
  background-color: #000;
}

.team-card-members {
  width: fit-content;
  height: 25%;
  display: flex;
  border-radius: 2rem;
  align-items: center;
  gap: .5rem;
  margin-bottom: .2rem;
  font-weight: 500;
  color: #7B899D;
  font-size: .9rem;
  overflow: hidden;
  text-wrap: nowrap;
  cursor: pointer;
  text-overflow: ellipsis;
  padding: 0rem .5rem;

  &:hover{
    background-color: rgba(213, 220, 231, 0.5);
  }
}

.team-card-selector {
  position: absolute;
  bottom: 8px;
  right: 10px;
}

.selector-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none; 
  width: 1rem;
  height: 1rem;
  position: relative;
  cursor: pointer;
}

.selector-input::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #000000; 
  border-radius: 50%;
  box-sizing: border-box; 
  transition: border-color 0.2s;
}

.selector-input:checked::before {
  border-color: #000000; 
  border-width: 2px;
}

.selector-input::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 8px; 
  height: 8px;
  background-color: #000000; 
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0); 
  transition: transform 0.2s ease-in-out;
}

.selector-input:checked::after {
  transform: translate(-50%, -50%) scale(1);
}


@media screen and (max-width: 720px) {
  .team-card {
    width: 19rem;
  }
}

@media screen and (max-width: 470px) {
  .team-card {
    width: 90%;
    padding: .5rem;
  }

  .team-card-titles {
    width: 55%;
    font-weight: bold;
    font-size: 1.3rem;
    overflow: hidden;
    white-space: wrap;
    text-wrap: wrap;
    text-overflow: ellipsis;
  }
}