.side-nav{
  background-color: #3b4759;
  position: fixed;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.hidden-side-nav{
  background-color: #3b4759;
  position: fixed;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  overflow-x: hidden;
  opacity: 0;
  transition: opacity .5s, width .3s;
}

.open-side-nav {
  width: 16rem;
  height: 100%;
  opacity: 1;
}

.nav-header {
  display: flex;
  gap: .5rem;
  justify-content: center;
  align-items: center;
  height: 6rem;
  font-size: 1.8rem;
  font-weight: bolder;
}

.close-navbar-button {
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.side-nav > hr {
  border: 1px solid #526177;
}

.nav-user-infos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 5rem;
}

.user-infos { 
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: .05rem;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}

.user-name {
  font-size: 1.1rem;
  font-weight: bold;
}

.user-email { 
  color: #bababa;
}

.nav-buttons{
  width: 100%;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-buttons > ul {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 95%;
}

.nav-buttons > ul > li {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  width: 100%;
  font-size: 1.1rem;
  padding: .7rem;
  border-radius: .5rem;
  text-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 1s;
  cursor: pointer;
}

.active {
  font-weight: bolder;
  background-color: #465263;
}

.delete {
  color: #F13E3E;
  transition: 10s;

  &:hover{
    background-color: #cf0c0c88;
  }
}