.task-list {
  border: 1px solid #dcdfe5;
  padding: .35rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  background: linear-gradient(to bottom right, #fff, #f1f1f1);
  width: 24rem;
  height: 33.5rem;
  overflow-y: hidden;
}

.tasks-infos{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tasks-infos > h2 {
  font-family: "Inter", sans-serif;
}

.task-count{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  background-color: #edf0f3;
  border: .5px solid #dcdfe5;
  color: #22222a;
  border-radius: 5rem;
  font-size: .8rem;
}
        
.tasks {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: center;
  justify-content: center;
  height: 95%;
  overflow-y: scroll;
  color: #000;
  scrollbar-width: none;
}

.tasks::-webkit-scrollbar{
  width: 0;
  height: 0;
}
